<!--@subject Nueva contrasena para {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

        <div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
         <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                                 <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a></p></td>
                            </tr>
                       </table>

                    <!-- [ middle starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                             <p><strong>Estimado, {{htmlescape var=$user.name}}</strong>,<br/>
                              Su nuevo password es: {{htmlescape var=$password}}</p>
                                                               <p>Usted puede cambiar su contrase&ntilde;a en cualquier momento accediendo a <a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">su cuenta</a>.<p>

                                <p>Gracias<br/><strong></strong></p>


                             </td>
                           </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
